body {
  background-color: black;
}
.box {
  padding-top: 100px;
  background-color: white;
  min-height: 100vh;
}

/*.alert-dismissible.ng-enter {*/
/*  opacity: 0;*/
/*}*/

/*.alert-dismissible.ng-enter-active {*/
/*  opacity: 1;*/
/*}*/

.my-special-animation.ng-enter {
  -webkit-animation: 3s red-to-blue;
  animation: 3s red-to-blue;
}

@keyframes red-to-blue {
  from { background-color: red; }
  to { background-color: blue; }
}

@-webkit-keyframes red-to-blue {
  from { background-color: red; }
  to { background-color: blue; }
}