/* Space out content a bit */
html, body {
  background-color: black;
  height:100%;
}

.container, .row {
  height: 100%;
}

.box {
  padding-top: 100px;
  background-color: white;
  min-height:100%;
}

.alert-dismissible.ng-enter {
  opacity: 0;
}

.alert-dismissible.ng-enter-active {
  opacity: 1;
}