<div class="col-xs-10 col-xs-offset-1 text-center box">
  <img src="images/ng-instagram.png" alt="Instagram Searcher">
  <br /><br /><br />
  <div class="row">
    <div class="col-xs-12 text-center">
      <form name="instaSearch" class="form-inline" role="search" ng-submit="search(tag)" novalidate>
        <div class="form-group">
          <input name="instagram_search" type="text" class="form-control" placeholder="Enter a tag to search" ng-model="tag" required>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="instaSearch.$invalid" >Submit</button>
      </form>
      <br /><br />
      <div ng-if="searching">
        <p>Searching Instagram tagged with "{{ master }}"</p>
      </div>
      <div ng-if="done">
        <p>We found {{ pictures.length }} results for "{{ master }}"</p>
      </div>
      <div class="row">
        <div ng-repeat="picture in pictures">
          <div class="col-xs-4">
            <img ng-src="{{ picture.images.standard_resolution.url }}" class="img-responsice" height="100%" width="100%"></img>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>