<div class="col-xs-10 col-xs-offset-1 text-center">
  <div class="box">
  <img src="images/ng-instagram.png" alt="Instagram Searcher">
  <br /><br /><br />
  <div class="row">
    <div class="col-xs-12 text-center">
      <form name="instaSearch" class="form-inline" role="search" ng-submit="search(tag)" novalidate>
        <div class="form-group">
          <input name="instagram_search" type="text" class="form-control" placeholder="Enter a tag to search" ng-model="tag" required>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="instaSearch.$invalid" >Submit</button>
      </form>
      <br /><br />
      <div class="alert alert-info" role="alert" ng-if="statuses.searching">
        Searching Instagram tagged with <strong>"{{ master }}"</strong>
      </div>
      <div class="alert alert-success alert-dismissible" role="alert" ng-if="statuses.done && (pictures.data.length > 0)">
        <button type="button" class="close" ng-click="change('done')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        We found <strong>{{ pictures.data.length }}</strong> results for <strong>"{{ master }}"</strong>
      </div>
      <div class="alert alert-warning alert-dismissible" role="alert" ng-if="statuses.done && (pictures.data.length == 0)">
        <button type="button" class="close" ng-click="change('done')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        We found <strong>{{ pictures.data.length }}</strong> results for <strong>"{{ master }}"</strong>
      </div>
      <div class="alert alert-danger alert-dismissible" role="alert" ng-if="statuses.error">
        <button type="button" class="close" ng-click="change('error')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
      </div>
      <div class="row" ng-if="statuses.show">
        <div class="col-xs-10 col-xs-offset-1">
        <div ng-repeat="picture in pictures.data" class="animate-repeat">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="{{ picture.link }}" target="_blank">
              <img ng-src="{{ picture.images.standard_resolution.url }}" class="img-responsice" height="100%" width="100%"></img>
            </a>
            <br /><br /><br />
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>